.navbar__container {
  height: 5rem;
}
.navbar__logo {
  font-size: 24px;
  font-weight: 800;
  color: var(--green-hover-color);
}

.navbar__left img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar__list {
  display: flex;
  gap: 3rem;
  letter-spacing: 1.1px;
}
.navbar__item {
  position: relative;
}

.for__icon:hover .drop__down__icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
  color: var(--green-hover-color);
}
.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  width: 14rem;
  border-top: var(--green-hover-color) 0.2vw solid;
}

.navbar__item:hover .dropdown {
  display: block;
  top: 3rem;
  left: -2.3rem;
}
.dropdown li {
  list-style: none;
  font-size: clamp(0.7rem, 0.4937rem + 2.0253vw, 0.9rem);
}

.dropdown li a {
  display: block;
  padding: 1rem;
  color: black;
  width: 12rem;
}
.line {
  background-color: black;
  height: 2px;
  width: 10px;
  transition: width 0.3s ease-in-out;
}

.dropdown li:hover .line {
  width: 20px;
  background-color: var(--green-hover-color);
}

.dropdown li:hover a {
  color: var(--green-hover-color);
}

/* .dropdown li:hover {
  background-color: var(--gray-hover-color);
} */

.dropdown li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.dropdown li:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.navhamburger {
  display: none;
  align-items: center;
  justify-content: center;
}
.ham-icon {
  font-size: 28px;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  color: var(--green-hover-color);
}
.container__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.ham-container {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgb(48, 158, 92);
  background: linear-gradient(
    270deg,
    rgba(48, 158, 92, 1) 0%,
    rgba(28, 194, 100, 1) 56%,
    rgba(27, 143, 80, 1) 100%
  );
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, 0.4937rem + 2.0253vw, 1.3rem);
  overflow: hidden;
}

.ham__layout__bg {
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 999;
}

.ham__layout__bg.open {
  animation: slideInBg 0.3s ease-in-out forwards;
}

.ham-container.open {
  animation: slideInContainer 0.4s ease-in-out 0.3s forwards;
}

.close-icon {
  font-size: 20px;
  font-weight: bolder;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
  line-height: 1rem;
  color: var(--green-hover-color);
}

.ham-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
  margin-left: 2rem;
}

.ham__list-item {
  color: white;
  width: 14rem;
  border-bottom: 1px solid var(--gray-hover-color);
  padding: 0.4rem 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.down__icon {
  font-size: 24px;
  color: white;
  border: 1px solid white;
  padding: 0.2rem;
  font-weight: lighter;
  box-sizing: border-box;
  line-height: 1.2rem;
}
.services-main {
  display: flex;
  gap: 2px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .services-main:hover .down__icon{
    transform: rotate(180deg);
} */
.services-items {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
  background: rgb(48, 158, 92);
  background: linear-gradient(
    270deg,
    rgba(48, 158, 92, 1) 0%,
    rgba(28, 194, 100, 1) 56%,
    rgba(27, 143, 80, 1) 100%
  );
  padding: 0.5rem 5.5rem 0.5rem 0.5rem;
}

.services-items a {
  width: 13.5rem;
  border-bottom: 1px solid var(--gray-hover-color);
  color: white;
}
.services-items a span {
  border-bottom: none;
}

.email a,
.phone a {
  font-size: 1.2rem;
  color: white;
}

.email i,
.phone i {
  font-size: 1.2rem;
  color: white;
}

.social .icon {
  background-color: white;
  color: var(--green-hover-color);
  border-radius: 5px;
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .navhamburger {
    display: flex;
  }
  .navbar__list {
    display: none;
  }
  .navbar__container {
    height: 4rem;
  }
}

@keyframes slideInBg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideInContainer {
  0% {
    width: 0;
  }
  100% {
    width: 20rem;
  }
}
