@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");
.hero__section__wrapper {
  background: rgb(229, 249, 239);
  background: linear-gradient(
    0deg,
    rgb(177, 238, 194) 10%,
    rgba(154, 245, 195, 1) 32%,
    rgba(184, 244, 210, 1) 53%,
    rgba(154, 245, 195, 1) 78%,
    rgb(213, 248, 224) 93%
  );
  border: none;
}
.custom-cursor .styles-module_blinkingCursor__yugAC {
  color: var(--green-hover-color);
  animation: blink 1s infinite;
}
.text__gradient {
  background: linear-gradient(to right, #07b262 0%, #c66e0f 50%, #8425dd 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.border_line {
  position: relative;
}

.border_line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #07b262;
  transition: width 0.3s linear;
}

.service_title {
  color: black;
  transition: color 0.3s linear 0.2s;
}
.service_title:hover {
  color: var(--green-hover-color);
}
.service_card:hover .service_icon {
  transform: translateY(-0.7rem);
  transition: transform 0.5s linear;
}
.border_line:hover::after {
  width: 100%;
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}
